# Xcode User Data (per-user settings, should not be shared)
.DS_Store
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/project.xcworkspace/

# Build artifacts
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# API Keys & Secrets (IMPORTANT: keep your API key private!)
**/Secrets.swift

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives & Binaries
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Logs
*.log

# Playgrounds
timeline.xctimeline
playground.xcworkspace
